body {
color: #333333;
font-size: 14px;
line-height: 150%;}
.command {
text-align: center;
margin-top: 5px;
}
.commandLeft {
position: relative;
float: left;
z-index: 1;
}
.compareRight {
position: relative;
float: right;
vertical-align: bottom;
z-index: 1;
}
.box {
clear: both;
margin: 5px auto 5px auto;
}
.boxOutter {
clear: both;
width: 100%;
/* background-image: url("../Images/bgBoxLeft.png"); */
background-repeat: repeat-y;
}
.boxInner {
background-color: #FFFFFF;
/* background-image: url("../Images/bgBoxRight.png"); */
background-repeat: repeat-y;
background-position: right;
margin-left: 6px;
border: 1px solid #ccd;
border-radius: 5px;
margin: 0px 4px 5px 4px;
margin-top: 10px;
padding: 10px;
-moz-border-radius: 5px;
}
table.compare {
width: 100%;
background-color: #333333;
border-style: none;
margin: 10px auto;
}
table {
border-spacing: 1px;
}
table.compare tr th {
font-weight: bold;
font-size: 14px;
background-color: #F7F7F7;
padding: 3px;
}
table.compare tr td {
background-color: #FFFFFF;
padding: 3px;
}
a {
color: #555555;
text-decoration: none;
}